.App {
  margin: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(77, 77, 241);
}

.cardComp{
  margin: 25px;
}

.cardComp:hover{
  margin-top: 15px;
}

.cardComp p{
  text-align: start;
}
